*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

#video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;   /* 🔑 ESTA ES LA CLAVE */
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
  color: rgb(255, 255, 255);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button{
  background-color: rgb(197, 197, 197);
  transition: background-color 0,5s;
}

button:hover{
  background-color: beige;
}

nav{
 
  margin: 25px;
  position: fixed;
  font-size: 30px;
}
a{
  color: white;
  margin:10px;
  text-decoration: none;
}
img{
  max-width:100px;
  max-width: 100px;
  text-align: center;
}


