* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

#video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;/* 🔑 ESTA ES LA CLAVE */
  z-index: -1;
}

.contenidoPrincipal {
  position: relative;
  z-index: 1;
  color: rgb(255, 255, 255);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background-color: rgb(197, 197, 197);
  transition: background-color 0, 5s;
  animation: animacionBoton 2,5s ease-in-out 1s infinite;
}

button:hover {
  background-color: beige;
}

nav {

  margin: 25px;
  /*position: fixed;*/
  font-size: 30px;
  text-align: center;

}

a {
  color:bisque;
  margin: 10px;
  text-decoration: none;
}

img {
  max-width: 100px;
  max-width: 100px;
  text-align: center;
}

@keyframes animacionBoton {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
     transform: scale(1.5);
     opacity: 0.5;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
h1{
  color: bisque;
}
